body{
    background:#8bc34a;
}

.game-board{
    background: #8bc34a;
    margin: 0 auto;
}

.game-board td{
    width: 25px;
    height: 25px;
}

.game-board td.road{
    background: saddlebrown;
}

.game-board td.nexus{
    background: gold;
}